@use 'sass:math';
@import '../colors';

html {
    background-color: #07529e;
}

.products-page-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $bs-color-white;
    font-family: $bs-font-sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }

    .error-message {
        position: absolute;
        margin: 0 auto;

        width: 40%;
        font-size: 15px;
        color: $bs-color-white;
        background-color: $bs-warning;
        border-radius: 7px;

        padding: 20px;
        top: 3%;
        right: 26%;
    }

    .products-page-selection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        gap: 10px;

        margin-bottom: 3rem;
    }

    .query-btn {
        @include button;
        margin: 0 auto;
        width: 50%;
        height: 40px;

        font-size: 16px;
        font-weight: 600;

        color: $bs-color-white;
        background-color: $bs-red;

        &:hover {
            background-color: $bs-red-hover;
        }
    }

    h1 {
        margin-top: 3rem;

        font-size: 30px;
        text-align: center;
    }

    /** Products items */
    .products-page-items {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;

        .products-page-item {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(255, 255, 255, 0.123);
            margin: 5px;
            height: auto;
            width: calc(100% / 3 - 16px);
            cursor: pointer;
            transition: transform 0.2s ease;
            
            img {
                object-fit: contain;
                width: auto;
                height: 40vh;
            }

            @for $i from 1 through 3 {
                
                .beta-condition-#{$i} {
                    
                    margin-left: 10px;
                    padding: 5px;
                    font-family: $bs-font-monospace;
                    width: fit-content;
                    border-radius: 8px;
                    
                    @if ($i == 1) {
                        background-color: #12f825;
                    } @else if ($i == 2) {
                        background-color: #fa771f;
                    } @else if ($i == 3) {
                        background-color: #ff2424;
                    }
                }
            }

            .products-text {
                padding: 10px;

                .products-text-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        @include button;

                        padding: 13px;
                        background-color: $bs-purple;
                        color: $bs-color-white;
                        
                        .fill-icon {
                            color: #ff2424;
                        }
                        
                        &:hover {
                            background-color: #48317c;
                        }
                    }
                }

                /* Span for description */
                span {
                    font-size: 20px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }

                .products-price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
    
                    span {
                        color: $bs-green;
                        font-weight: 700;
                        font-size: 30px;
                    }
                    span:nth-last-child(-n + 1) {
                        color: $bs-dark;
                    }
                }
            }


            &:hover {
                transform: scale(1.02);
            }
        }
    }

    
    @media (max-width: 990px) {
        & {
            .products-page-selection {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 30vh;
                
                select {
                    width: 80%;
                }
            }
            .products-page-items {
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
                .products-page-item {
                    width: calc(100% / 2 - 12px);
                }
            }
        }
    }

    @media (max-width: 990px) {
        & {
            .products-page-selection {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 30vh;
                
                select {
                    width: 80%;
                }
            }
            .products-page-items {
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
                .products-page-item {
                    width: calc(100% / 1 - 12px);
                }
            }
        }
    }
}