
@import '../colors';

header {
    font-family: $bs-font-sans-serif;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h4 {
            font-size: 24px;
            color: $bs-color-white;
            font-family: cursive;
            padding-left: 40px;
            margin-right: auto;
            cursor: pointer;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: auto;
            gap: 4rem;

            li {
                list-style: none;
                cursor: pointer;

                &:hover {
                    color: $bs-gray;
                }
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        button {
            @include button;

            width: 10rem;
            height: 2rem;
            background-color: $bs-orange;
            color: $bs-color-white;
            margin-right: 40px;

            &:hover {
                background-color: $bs-orange-hover;
            }
        }
    }
}


.intro-about-section {
    &:hover + .intro-p-about-section {
        position: absolute;
        display: block;
        width: 30%;
        height: auto;
        padding: 30px;
        top: 9%;
        left: 46%;
        color: $bs-dark;
        text-align: center;
        border-radius: 8px;
        font-family: $bs-font-sans-serif;
        background-color: #f8f9fa;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
}

.intro-p-about-section {
    display: none;
}