@import '../colors';

select {
    width: 18%;
    height: 50px;
    border-radius: 7px;
    color: $bs-light;
    background-color: $bs-dark;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: $bs-font-sans-serif;
}