@import '../colors';

/* Intro Section */
.intro-page {
    position: relative;
    color: $bs-color-white;
    font-family: $bs-font-sans-serif;
    background-color: #07529e;
    min-height: 100vh;

    a {
        text-decoration: none;
        color: inherit;
    }

    .body-intro-page {
        @include flexRow;
        
        .body-intro-page-text {
            width: 50%;
            margin: 0 auto;

            h3 {
                font-size: 54px;
            }

            p {
                width: 90%;
            }
          
            button {
                margin-top: 4rem;
                width: 10rem;
                height: 2.4rem;
                border-style: none;
                border-radius: 3px;
                background-color: $bs-green;
                color: $bs-color-white;
                font-family: $bs-font-sans-serif;
                cursor: pointer;
                font-size: 16px;
                transition: transform 0.2s ease;

                &:hover {
                    background-color: $bs-green-hover;
                }
                &:active {
                    transform: scale(0.96);
                }
            }
        }

        .body-intro-page-image {
            padding-top: 3rem;
            width: 40%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @media (max-width: 990px) {
        & {
            .body-intro-page {
                display: flex;
                flex-direction: column;
    
                min-height: 80vh;
    
                .body-intro-page-text {
                    width: 90%;
    
                    h3 {
                    }
    
                    p {
                        font-size: 16px;
                    }
    
                    button {
                        margin-top: 0.4rem;
                    }
                }
    
    
                .body-intro-page-image {
                    width: 100%;
                    margin-top: 1rem;
                    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    @media (max-width: 390px) {
        .body-intro-page {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            min-height: 50vh;

            .body-intro-page-text {
                width: 90%;

                h3 {
                    font-size: 32px;
                }

                p {
                    font-size: 16px;
                }
            }


            .body-intro-page-image {
                width: 100%;
                margin-top: 1rem;
                
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

/********** Intro page body section ********/
.intro-page-body {
    @include flexRow;

    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;

    font-family: $bs-font-sans-serif;
    background-color: $bs-color-white;

    .intro-page-body-img {
        width: 45%;
        
        img {
            width: 100%;
            height: auto;
        }
    }

    .intro-pgae-body-text {
        @include flexCol;
        
        width: 50%;

        h1 {
            font-size: 27px;
            font-weight: 700;
        }

        p {
            font-size: 20px;
            color: $bs-gray-dark;
        }

        button {
            @include button;

            font-weight: 700;
            font-size: 15px;
            color: $bs-purple;
            width: fit-content;
            height: 30px;
            background-color: inherit;

            a {
                text-decoration: none;
                color: inherit;
               
                &:hover {
                    color: $bs-indigo;
                }
            }
        }
    }

    @media (max-width: 990px) {
        & {
            display: flex;
            flex-direction: column;
            padding-top: 2rem;


            .intro-page-body-img {
                width: 70%;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .intro-pgae-body-text {
                width: 100%;
                min-width: 65%;
                max-width: 65%;
            }
        }
    }
}

/** Section people e-commerce*/
.section-people-ecommerce {
    display: flex;
    flex-direction: column;
    height: 60vh;
    gap: 2.5rem;
    font-family: $bs-font-sans-serif;
    background-color: $bs-color-white;

    .section-people-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: $bs-dark;
            font-size: 27px;
            font-weight: 700;
        }

        p {
            font-size: 20px;
            color: $bs-gray-dark;
            text-align: center;
            width: 60%
        }
    }

    .counter-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        .counter:nth-child(2) {
            transition-delay: 200ms;
        }
        
        .counter:nth-child(3) {
            transition-delay: 500ms;
        }
    }

    @media (max-width: 990px) {
        & {
            display: flex;
            flex-direction: column;
            height: auto;

            .section-people-intro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                h1 {
                    color: $bs-dark;
                    font-size: 27px;
                    font-weight: 700;
                }
        
                p {
                    font-size: 20px;
                    color: $bs-gray-dark;
                    width: 60%
                }
            }
            
            .counter-section {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                padding-bottom: 2rem;
            }
        }
    }
}

/** Footer */
footer {    
    display: flex;
    flex-direction: row;

    min-height: 50vh;
    color: $bs-color-white;
    font-family: $bs-font-sans-serif;
    background-color: darken($color: #000000, $amount: 3);

    padding: 13px;

    .footer-details {
        position: relative;

        a {
            font-size: 30px;
            text-decoration: none;
            color: inherit;
        }

        p {
            font-size: 20px;
            color: $bs-gray-dark;
            width: 60%
        }
        
        span {
            position: absolute;
            bottom: 3%;
            left: 0%;
        }
    }

    .footer-social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        padding-top: 2rem;

        a {
            font-size: 21px;

            &:hover {
                color: $bs-gray;
            }
        }
    }
    
    .footer-links {
        display: flex;
        flex-direction: row;

        ul {
            list-style: none;
            
            li {
                line-height: 28px;

                a {
                    font-size: 18px;
                    text-decoration: none;
                    color: $bs-gray-dark;
                    
                    &:hover {
                        color: $bs-color-white;
                    }
                }
            }
        }
    }

    @media (max-width: 990px) {
        & {
            .footer-details {
        
                p {
                    font-size: 20px;
                    color: $bs-gray-dark;
                    width: 100%
                }
                
                span {
                    position: absolute;
                    bottom: 3%;
                    left: 0%;
                }
            }

            .footer-social-links {
                display: flex;
                flex-wrap: wrap;

                a {
                    margin: 0 auto;
                    width: calc(100% / 3 - 12px);
                }
            }
            .footer-links {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                ul {
                    li {
                        a {
                            font-size: 18px;
                            text-decoration: none;
                            color: $bs-gray-dark;
                            
                            &:hover {
                                color: $bs-color-white;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 350px) {
        & {
            display: flex;
            flex-direction: column;

            .footer-details {
                span {
                    display: none;
                }
            }
        }
    }
}